.container {
  background-color: var(--color-white);
  padding: 40px 32px;
  border-radius: 10px;
  color: var(--color-neutral-900);
  margin: 30px 0 40px 0;
  width: 90%;
  max-width: 400px;

  @media (min-width: 1024px) {
    width: 530px;
    //height: 503px;
    height: auto;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 0 8px 0;
  }

  label {
    font-size: var(--text-lg);
  }

  input {
    height: 49px;
    border-radius: 10px;
    border: 1px solid var(--color-neutral-300);
    padding: 16px 12px;
    font-size: var(--text-lg);
    width: 100%;
    color: var(--color-neutral-600);

    @media (min-width: 768px) {
      font-size: var(--text-base);
    }
  }

  @media (min-width: 768px) {
    padding: 30px;
    max-width: 500px;
  }

  @media (min-width: 1024px) {
    max-width: 600px;
    padding: 40px;
  }
}

.container [data-slot="input"]::placeholder {
  color: var(--color-neutral-600);
  font-size: var(--text-lg);
}
.tag {
  color: var(--color-neutral-600);
  margin: 8px 0 24px 0;
  font-size: var(--text-sm);

  @media (min-width: 768px) {
    font-size: var(--text-base);
  }
}

.button {
  background-color: var(--color-blue-600);
  border: 1px solid var(--color-blue-600);
  border-radius: 10px;
  width: 100%;
  padding: 32px 12px;
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--text-xl);
  font-weight: 600;
  margin: 18px 0 20px 0;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  min-height: 52px;

  &:hover {
    background-color: var(--color-blue-700);
    border-color: var(--color-blue-700);
  }

  @media (min-width: 768px) {
    font-size: var(--text-lg);
    padding: 12px 0;
  }
}

.anchor {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  gap: 5px;
  flex-wrap: wrap;
  font-size: var(--text-lg);
  color:  var(--color-neutral-600);

  a {
    color: var(--color-blue-600);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease;
    font-size: var(--text-lg);

    &:hover {
      color: var(--color-blue-700);
    }
  }

  @media (min-width: 768px) {
    padding: 0 20px;
  }
}
