.container {
  display: flex;
  justify-content: space-between;
  margin: 32px 16px 0 16px;


  @media  (min-width: 768px) {
    margin: 40px 32px 0 32px;

  }

  @media  (min-width: 1024px) {
    margin: 40px 135px 0 135px;
  }
}
