.button {
  background-color: var(--color-blue-600);
  border: 1px solid var(--color-blue-600);
  border-radius: 10px;
  width: 100%;
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--text-xl);
  font-weight: 600;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  height: 52px;

  &:hover {
    background-color: var(--color-blue-700);
    border-color: var(--color-blue-700);
  }

}
