.logo {
  height: 10px;
  width: 45px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  color: var(--color-neutral-900);
  margin-top: 30px;
  width: 90%;
  max-width: 400px;

  @media (min-width: 1024px) {
    width: 400px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
  }

  input {
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--color-neutral-300);
    padding: 10px;
    font-size: var(--text-sm);
    width: 100%;

    @media (min-width: 768px) {
      font-size: var(--text-base);
    }
  }

  @media (min-width: 768px) {
    padding: 30px;
    max-width: 500px;
    margin-top: 50px;
  }

  @media (min-width: 1024px) {
    max-width: 600px;
    padding: 40px;
  }
}
