.logo {
  margin: 48px  0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heading {
  font-size: var(--text-4xl);
  padding-bottom: 8px;
}

.description {
  font-size: var(--text-lg);
  color: var(--color-neutral-600);
  margin-bottom: 32px ;
}

.content {
  background-color: var(--color-white);
  padding: 40px 16px;
  border-radius: 10px;
  color: var(--color-neutral-900);
  //width: 90%;
 // max-width: 530px;
  margin: 0 16px 40px 16px;
  //height: 486px;

  button {
    font-family: var(--font-reddit-sans), sans-serif;
    cursor: pointer;
  }


  input {
    height: 49px;
    border-radius: 10px;
    border: 1px solid var(--color-neutral-300);
    padding: 16px 12px;
    font-size: var(--text-lg);
    width: 100%;
    color: var(--color-neutral-600);
    margin: 8px 0 24px 0;
  }

  @media (min-width: 768px) {
    //padding: 30px;
    max-width: 530px;
    //margin-top: 50px;
    padding: 40px 32px;
  }

  @media (min-width: 1024px) {
    max-width: 530px;
    padding: 40px 32px;
    //padding: 40px;
  }
}

.content input::placeholder {
  color: var(--color-neutral-600);
}

.content input:focus {
  outline: none;
  border: 2px solid  var(--color-blue-600);
}

.upload_container {
  display: flex;
  margin-bottom: 32px;
}

.upload_text {
  margin-left: 20px;

  p:first-child {
    padding-bottom: 6px;
  }

  p:nth-child(2) {
    padding-bottom: 16px;
    color:   var(--color-neutral-600);
    font-size:  var(--text-base);
  }

  button {
    background-color:  transparent;
    width: 91px;
    height: 38px;
    padding: 0 8px;
    border:  1px solid var(--color-neutral-300);
    border-radius:  8px;
    font-size: var(--text-lg);
  }
}

.track_button {
  background-color: var(--color-blue-600);
  border: none;
  color: var(--color-white);
  width: 100%;
  font-size: var(--text-xl);
  padding: 0 12px;
  height: 52px;
  border-radius: 10px;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  &:hover {
    background-color: var(--color-blue-700);
    border-color: var(--color-blue-700);
  }
}
